.App {
  text-align: center;
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 1.2rem;
  border: 2px solid black;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}
form {
  margin: 0 auto;
  width: 60vw;
  text-align: center;
  align-items: center;
}
form label {
  float: left;
  margin-left: 2rem;
}
input {
  width: 60vw;
  line-height: 1.9rem;
}
